@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    background-color: blueviolet;
}

.hero-section {
    background-image: url('/images/pizza-bg-4k.webp');
    background-size: cover;
    background-position: center;
  }

  input[type="email"],
  input[type="password"] {
    @apply block border p-2 border-gray-300 bg-gray-200 outline-none w-full my-2 rounded-lg

  }

  button {
    @apply w-fit py-2 px-8 rounded-full text-xl shadow-lg
  }
