@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    background-color: blueviolet;
}

.hero-section {
    background-image: url('/images/pizza-bg-4k.webp');
    background-size: cover;
    background-position: center;
  }